html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

.container-fluid {
  padding: 3% 15% 6%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo', cursive;
}

p {
  color: #8f8f8f;
}

/* Headings */
.top-heading {
  font-family: 'Baloo', cursive;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navagatioln Bar */
.navbar {
  padding: 0;
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

/* Download Buttons  */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Header Image  */
.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features  */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  ;
}

.feature-box {
  padding: 5%;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonial  */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing  */
#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

.price-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* CTA  */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
}

.cta-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer */
#footer {
  padding: 7% 15%;
}

.social-links {
  list-style-type: none;
}

.social-links li {
  display: inline;
  padding-right: 30px;
}

.social-links li a {
  color: #212529;
}

/* Responosive */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
